In [2]:
import pandas as pd
import numpy as np
import re

regex = re.compile('[^a-zA-Z ]')

In [3]:
olympics = pd.read_csv('athlete_events.csv')

In [4]:
olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
olympics.shape

(271116, 15)

In [6]:
recent = olympics[olympics['Year'] >= 1980]

recent.shape

(157417, 15)

In [7]:
final = recent[recent['Season'] == 'Summer']

final.shape

(122913, 15)

In [8]:
final

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
31,12,Jyri Tapani Aalto,M,31.0,172.0,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN
32,13,Minna Maarit Aalto,F,30.0,159.0,55.5,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN
33,13,Minna Maarit Aalto,F,34.0,159.0,55.5,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271105,135565,Fernando scar Zylberberg,M,23.0,168.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [24]:
temp = final[final['Team'].str.contains("/")]
temp

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [9]:
print(final[final['Team'] == 'Switzerland-1'])

            ID                       Name Sex   Age  Height  Weight  \
40034    20589  Sbastien "Sba" Chevallier   M  25.0   193.0    88.0
93219    47200             Joana Heidrich   F  24.0   190.0    72.0
95523    48364               Sascha Heyer   M  40.0   203.0   108.0
130559   65733              Martin Laciga   M  29.0   195.0   100.0
130560   65733              Martin Laciga   M  33.0   195.0   100.0
130562   65734                Paul Laciga   M  33.0   193.0    92.0
213699  107314               Jan Schnider   M  25.0   197.0    95.0
270791  135424             Nadine Zumkehr   F  31.0   172.0    64.0

                 Team  NOC        Games  Year  Season            City  \
40034   Switzerland-1  SUI  2012 Summer  2012  Summer          London
93219   Switzerland-1  SUI  2016 Summer  2016  Summer  Rio de Janeiro
95523   Switzerland-1  SUI  2012 Summer  2012  Summer          London
130559  Switzerland-1  SUI  2004 Summer  2004  Summer          Athina
130560  Switzerland-1  SUI  2008 Summer  2008  Summer         Beijing
130562  Switzerland-1  SUI  2004 Summer  2004  Summer          Athina
213699  Switzerland-1  SUI  2008 Summer  2008  Summer         Beijing
270791  Switzerland-1  SUI  2016 Summer  2016  Summer  Rio de Janeiro

                   Sport                                      Event Medal
40034   Beach Volleyball    Beach Volleyball Men's Beach Volleyball   NaN
93219   Beach Volleyball  Beach Volleyball Women's Beach Volleyball   NaN
95523   Beach Volleyball    Beach Volleyball Men's Beach Volleyball   NaN
130559  Beach Volleyball    Beach Volleyball Men's Beach Volleyball   NaN
130560  Beach Volleyball    Beach Volleyball Men's Beach Volleyball   NaN
130562  Beach Volleyball    Beach Volleyball Men's Beach Volleyball   NaN
213699  Beach Volleyball    Beach Volleyball Men's Beach Volleyball   NaN
270791  Beach Volleyball  Beach Volleyball Women's Beach Volleyball   NaN

In [20]:
final['Team'] = final['Team'].apply(lambda x: re.sub(regex, '', str(x)))

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
print(final[final['Team'] == 'Switzerland-1'])

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [9]:
export_csv = final.to_csv (r'olympics.csv', index = None, header=True)